version: "3.8"  

services:
  # Conteneur MongoDB
  mongodb:
    image: mongo:6.0       
    container_name: mongodb_local
    ports:
      - "27017:27017"
    environment:
      # Variables d'environnement pour créer un utilisateur sécurisé
      MONGO_INITDB_ROOT_USERNAME: data_engineer
      MONGO_INITDB_ROOT_PASSWORD: password123
      MONGO_INITDB_DATABASE: hopital
    volumes:
      - mongo_data:/data/db          # Volume pour persister les données MongoDB
      - csv_data:/data/csv           # Volume pour stocker les CSV
    restart: unless-stopped           # Redémarre automatiquement sauf si on l'arrête manuellement

  # Conteneur pour exécuter la migration
  migration:
    build: .                         # Construire l'image depuis le Dockerfile
    container_name: migration_app    # Nom du conteneur
    volumes:
      - ./healthcare_dataset.csv:/data/csv/healthcare_dataset.csv  # Monter le CSV dans le conteneur
    depends_on:
      - mongodb                      # Attend que MongoDB soit démarré avant d'exécuter
    command: >
      sh -c "
        echo 'Attente du démarrage de MongoDB...' &&
        sleep 10 &&
        echo 'Lancement du script de migration...' &&
        python migrate.py
      "

  # Conteneur pour automatiser le test d'intégrité
  tests:
    build: .                         # Construire l'image depuis le Dockerfile
    container_name: test_app         # Nom du conteneur
    depends_on:
      - mongodb
      - migration                     # Attend que MongoDB et la migration soient terminés
    command: python test_integrity.py # Script de test d’intégrité

# Définition des volumes persistants
volumes:
  mongo_data:
  csv_data:
